/* kolory buwu: zielony #28724F
                rozowy  #C86BA8
                szary   #C3C7C3
*/

html, body {
    height: 100%;
}

body {
    background-color: #C3C7C3;
    margin-top: 20%;
}

#biblioteka {
    height: 60%;
    width: 100%;
    align-items: center;
}

#czytelnia {
    height: 33%;
    width: 100%;
    order: 1;
}

.miejsce {
    background: whitesmoke;
    border: 1.5px solid black;
    display: flex;
    flex-direction: column;
}

#korytarz {
    height: 33%;
    width: 100%;
    order: 2;
}

#reszta {
    order: 3;
    height: 33%;
    width: 100%;
}

.stolik {
    background-color: #28724F;
    height: 3vw;
    width: 5vw;
    display: block;
}

#stolik1 {
    position: relative;
    left: 30%;
    top: 30%;
}

#stolik2 {
    position: relative;
    left: 30%;
    top: 35%;
}

#stolik3 {
    position: relative;
    left: 30%;
    top: 40%;
}

#zajmowanie_przycisk {
    margin-left: 28%;
}

#zwalnianie_przycisk {
    margin-left: 20%;
}

.popup {
    background-color: rgba(232, 159, 235, 0.6);
    border-radius: 10%;
    z-index: 1;
    position: fixed;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%); /* jest na srodku ekranu ale nie przy zoomie */
    -moz-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    display: none;
}

.popup .close {
    position: absolute;
    top: 2%;
    right: 4%;
    transition: all 200ms;
    font-size: 4vh;
    font-weight: bold;
    text-decoration: none;
    color: rgb(253, 242, 242);
}

.popupButton {
    margin-top: 30%;
    background: white;
    position: center;
    font-style: bold;
    border-radius: 10%;
}